In [1]:
#Import Dependecies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as py
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
# File to Load 
Iris_Data_Load = Path("iris.data")

# Read Iris Data File and store into Pandas DataFrames
Iris_Data = pd.read_csv(Iris_Data_Load)

#Assign the Column Names(Attributes)
Iris_Data.columns=[" Sepal_Length","Sepal_Width","Petal_Length","Petal_Width ","Class_Iris"]

# Display the dataset
Iris_Data.head(5)

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Class_Iris
0            4.9          3.0           1.4           0.2  Iris-setosa
1            4.7          3.2           1.3           0.2  Iris-setosa
2            4.6          3.1           1.5           0.2  Iris-setosa
3            5.0          3.6           1.4           0.2  Iris-setosa
4            5.4          3.9           1.7           0.4  Iris-setosa

In [3]:
# Separate the data into labels and features
# the y variable, the labels
y = Iris_Data["Class_Iris"]

# Separate the X variable, the features
X = Iris_Data.drop(columns=["Class_Iris"])

In [5]:
# Review the y variable DataFrame
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Class_Iris, dtype: object

In [6]:
# Review the X variable DataFrame
X.head()

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0            4.9          3.0           1.4           0.2
1            4.7          3.2           1.3           0.2
2            4.6          3.1           1.5           0.2
3            5.0          3.6           1.4           0.2
4            5.4          3.9           1.7           0.4